:root {
  --basic-black: #000000;
  --basic-light-black: #000000;
  --basic-neutral-black: #283136;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-extra-green: #00AA62;
  --basic-yellow: #EFC84A;
  --basic-dark-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
  --basic-neutral: #e5e5e5;
  --basic-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-extra-grey: #D5D5D5;
}

body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main header*/
.inner-page .main-header {
  background-color: var(--basic-grey);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.skills {
  background-color: var(--basic-grey);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/*Filters*/

.filter legend, .price {
  font-weight: bold;
  font-size: 18px;
  font-height: 30px;
  text-transform: uppercase;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-neutral-black);
}

.filter ul {
  list-style: none;
  font-height: 19px;
}

/**/
.catalog-list {
  list-style: none;
}

/*Pagination*/

.pagination-list {
  list-style: none;
}

.pagination-item {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-grey);
  width: 50px;
  height: 50px;
}
.next-page {
  width: 260px;
}

/*Main navigation*/
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  align-items: center;
  text-transform: uppercase;
}

/*Site navigation*/
.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* User navigation */
.site-navigation a,
.user-navigation a {
  color: var(basic-black);
}


.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
  background-color: var(--basic-grey);
}

.site-navigation a:focus,
.user-navigation a:focus {
  background-color: var(--basic-grey);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(basic-black);
  opacity: 0.3;
  background-color: var(--basic-grey);
}

/*services*/
.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.button-red {
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
}

.button-red:hover {
  background-color: var(--basic-dark-red);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-red:active {
  opacity: 0.3;
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-green {
  background-color: var(--basic-green);
  border-radius: 3px;
  border-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-dark-green);
  border-radius: 3px;
  border-color: var(--basic-dark-green);
}

.button-green:active {
  opacity: 0.3;
  background-color: var(--basic-extra-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-extra-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
  border-radius: 3px;
  border-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-dark-yellow);
  border-radius: 3px;
  border-color: var(--basic-dark-yellow);
}

.button-yellow:active {
  opacity: 0.3;
  background-color: var(--basic-extra-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-extra-yellow);
}

/*Skills */

.skills-list {
  list-style: none;
}

.skills-item {
  text-align: left;
}

.skills-item h3 {
  font-size: 55px;
  line-height: 55px;
}

/*Footer*/

.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
}

.footer-social p {
  line-height: 22px;
  align-items: center;
}

.footer-social ul {
  list-style: none;
}

.social-item {
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.contacts ul {
  list-style: none;
}

/*catalog*/
