:root {
  --basic-black: #000000;
  --basic-light-black: #000000;
  --basic-neutral-black: #283136;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-extra-green: #00AA62;
  --basic-yellow: #EFC84A;
  --basic-dark-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
  --basic-neutral: #e5e5e5;
  --basic-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-extra-grey: #D5D5D5;
  --basic-neutral-grey: #666666;
}

body {
  min-width: 1180px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
}

.horizontal-line {
  width: 1160px;
  margin: 0 auto;
  height: 2px;
  background: var(--basic-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.skills-logo {
  order: 1;
}

/*list-style*/
.catalog-list,
.pagination-list,
.filter-price-type-name,
.site-navigation,
.services-list,
.skills-list,
.about-company-list,
.development,
.social-list ul,
.contacts ul,
.sponsors-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Main header*/
.main-header {
  margin-bottom: 0px;
  background-color: var(--basic-grey);
}

/*logo*/
.main-header-logo {
  width: 160px;
  height: 65px;
}

/*container*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*site-navigation ВРЕМЕННО*/
.site-navigation {
  width: 620px; /*Не знаю где посмотреть ширину контейнер*/
  margin: 0;
  padding: 0;
}

.inner-page .main-header {
  background-color: var(--basic-grey);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.skills {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  background-color: var(--basic-grey);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/*Filters*/

.filter legend,
.price,
.catalog legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-neutral-black);
}

.filter ul {
  list-style: none;
  line-height: 19px;
}

.price-slider {
  background: var(--basic-grey);
}

.filter-button {
  width: 260px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.filter-button,
.filter-button:focus {
  background-color: var(--basic-grey);
  border-radius: 3px;
  border-color: var(--basic-grey);
  outline: var(--basic-grey);
}

.filter-button:hover {
  background-color: var(--basic-dark-grey);
  border-radius: 3px;
  border-color: var(--basic-dark-grey);
}

.filter-button:active {
  background-color: var(--basic-extra-grey);
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-color: var(--basic-extra-grey);
  opacity: 0.3;
}

.filter-price-type-name,
.filter-price-type-name a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-price-type-name a:link {
  opacity: 0.3;
}

.filter-price-type-name a:hover {
  opacity: 0.6;
}

.filter-price-type-name a:active,
.filter-price-type-name a:focus {
  opacity: 1;
}

/*Catalog*/

.price-sedona {
  position: absolute;
  margin-top: -250px;
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
}

.price-sedona .sedona {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.price-sedona p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.catalog-item .button-price-sedona {
  width: 200px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
  outline: var(--basic-red);
}

.catalog-item .button-price-sedona:hover {
  background-color: var(--basic-dark-red);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
  outline: var(--basic-dark-red);
}

.catalog-item .button-price-sedona:active {
  background-color: var(--basic-extra-red);
  border-radius: 3px;
  border-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: var(--basic-extra-red);
}

/*Pagination*/

.pagination-list {
  display: flex;
  margin-bottom: 60px;
}

.pagination-item {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.next-page {
  width: 260px;
  height: 50px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-item a {
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.pagination-item a:hover {
  background-color: var(--basic-dark-grey);
}

.pagination-item a:active {
  background-color: var(--basic-extra-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.next-page a {
  width: 260px;
  height: 50px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
  text-transform: uppercase;
}

.next-page a:hover {
  background-color: var(--basic-dark-grey);
}

.next-page a:active {
  background-color: var(--basic-extra-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current {
  text-align: center;
  width: 50px;
  height: 50px;
  background: var(--basic-white);
  border: 3px solid var(--basic-grey);
  border-radius: 3px;
}

/*Main navigation*/
.main-navigation {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 50px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  background-color: var(--basic-grey);
}

/*Site navigation*/

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* User navigation */
.user-navigation {
  max-width: 140px; /*Не понимаю где взять размер.*/
}

.user-navigation .basket {
  padding-left: 50px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
  background-color: var(--basic-grey);
}

.site-navigation a:focus,
.user-navigation a:focus {
  background-color: var(--basic-grey);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
  background-color: var(--basic-grey);
}

/*services*/

.services {
  margin-top: 80px;
  margin-bottom: 155px; /*Возможно 155?*/
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.services .button {
  width: 160px;
  height: 50px;
}

.button-red {
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
}

.button-red:hover {
  background-color: var(--basic-dark-red);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-red:active {
  opacity: 0.3;
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-red:focus {
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
  outline-color: var(--basic-red);
}

.button-green {
  background-color: var(--basic-green);
  border-radius: 3px;
  border-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-dark-green);
  border-radius: 3px;
  border-color: var(--basic-dark-green);
}

.button-green:active {
  opacity: 0.3;
  background-color: var(--basic-extra-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-extra-green);
}

.button-green:focus {
  background-color: var(--basic-green);
  border-radius: 3px;
  border-color: var(--basic-green);
  outline-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
  border-radius: 3px;
  border-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-dark-yellow);
  border-radius: 3px;
  border-color: var(--basic-dark-yellow);
}

.button-yellow:active {
  opacity: 0.3;
  background-color: var(--basic-extra-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-extra-yellow);
}

.button-yellow:focus {
  background-color: var(--basic-yellow);
  border-radius: 3px;
  border-color: var(--basic-yellow);
  outline-color: var(--basic-yellow);
}

/*Skills */

.skills-item {
  text-align: left;
}

.skills-item h3 {
  font-size: 55px;
  line-height: 55px;
}

.button-learn-more {
  width: 240px;
  height: 50px;
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
}

.button-learn-more:hover {
  background-color: var(--basic-dark-red);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-learn-more:active {
  opacity: 0.3;
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-learn-more:focus {
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
  outline-color: var(--basic-red);
}

/*About company*/

.about-company-all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-bottom: 120px;
}

.about-company h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-company p {
  line-height: 24px;
}

.about-company h3 {
  font-weight: bold;
  text-transform: uppercase;
}

/*features*/

.features h3 {
  text-transform: uppercase;
}

.features-numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.features-words {
  line-height: 18px;
}

/*Sponsors*/

.sponsors-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.sponsors-list a:link {
  opacity: 0.2;
}

.sponsors-list a:hover {
  opacity: 1;
}

.sponsors-list a:active {
  opacity: 0.1;
}

/*contacts*/
.contacts {
  position: relative;
}

.contacts-item {
  position: absolute;
}

.contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p,
.contacts a {
  line-height: 18px;
  color: var(--basic-neutral-grey);
}

.contacts a.button {
  display: inline-block;
  width: 219px;
  height: 50px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
}

.contacts-item {
  margin-left: 140px;
  margin-top: 54px;
  margin-bottom: 54px;
  padding-top: 49px;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--basic-white);
}

/*Footer*/
.main-footer {
  padding: 60px 0;
  margin-top: 75px;
}

.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
}

.footer-social p {
  line-height: 22px;
  align-items: center;
}
.social-list-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 260px;
}
.social-item {
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*catalog*/

.container-2 {
  display: grid;
  grid-template-columns: 180px 1fr;
  margin-top: 55px;

}

.filter-price-type-name {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;

}

.catalog {
    position: relative;
    margin-left: 140px;
}


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.catalog-item {
  width: 358px;
  min-height: 578px;
  margin-right: 41px;
  margin-bottom: 31px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}


.price-pink-app {
  display: none;
  margin-top: -250px;
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
}

.catalog-item:hover .price-pink-app {
  display: block;
  position: absolute;
}
.price-pink-app .pink-app {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.price-barb {
  display: none;
  margin-top: -250px;
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
}

.catalog-item:hover .price-barb {
  display: block;
  position: absolute;
}

.price-barb .barb {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.price-mishka {
  display: none;
  margin-top: -250px;
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
}

.catalog-item:hover .price-mishka {
  display: block;
  position: absolute;
}

.price-mishka .mishka {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.price-study {
  display: none;
  margin-top: -250px;
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
}

.catalog-item:hover .price-study {
  display: block;
  position: absolute;
}

.price-study .study {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.price-kvast {
  display: none;
  margin-top: -250px;
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
}

.catalog-item:hover .price-kvast {
  display: block;
  position: absolute;
}
.price-kvast .kvast {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
