:root {
  --basic-black: #000000;
  --basic-light-black: #000000;
  --basic-neutral-black: #283136;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-extra-green: #00AA62;
  --basic-yellow: #EFC84A;
  --basic-dark-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
  --basic-neutral: #e5e5e5;
  --basic-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-extra-grey: #D5D5D5;
  --basic-neutral-grey: #666666;
}

body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
}

.horizontal-line {
  width: 1160px;
  height: 2px;
  background: var(--basic-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*list-style*/
.catalog-list,
.pagination-list,
.filter-price-type-name,
.site-navigation,
.services-list,
.skills-list,
.about-company-list,
.development,
.footer-social ul,
.contacts ul,
.sponsors-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Main header*/
.inner-page .main-header {
  background-color: var(--basic-grey);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.skills {
  background-color: var(--basic-grey);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/*Filters*/

.filter legend,
.price,
.catalog legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-neutral-black);
}

.filter ul {
  list-style: none;
  line-height: 19px;
}

.price-slider {
  background: var(--basic-grey);
}

.filter-button {
  width: 260px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.filter-button,
.filter-button:focus {
  background-color: var(--basic-grey);
  border-radius: 3px;
  border-color: var(--basic-grey);
  outline: var(--basic-grey);
}

.filter-button:hover {
  background-color: var(--basic-dark-grey);
  border-radius: 3px;
  border-color: var(--basic-dark-grey);
}

.filter-button:active {
  background-color: var(--basic-extra-grey);
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-color: var(--basic-extra-grey);
  opacity: 0.3;
}

.filter-price-type-name,
.filter-price-type-name a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-price-type-name a:link {
  opacity: 0.3;
}

.filter-price-type-name a:hover {
  opacity: 0.6;
}

.filter-price-type-name a:active,
.filter-price-type-name a:focus {
  opacity: 1;
}

/*Catalog*/


.price-sedona {
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
}

.price-sedona h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.price-sedona p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.price-sedona .button-price-sedona {
  width: 200px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
  outline: var(--basic-red);
}

.price-sedona .button-price-sedona:hover {
  background-color: var(--basic-dark-red);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
  outline: var(--basic-dark-red);
}

.price-sedona .button-price-sedona:active {
  background-color: var(--basic-extra-red);
  border-radius: 3px;
  border-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: var(--basic-extra-red);
}

/*Pagination*/

.pagination-item {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.next-page {
  width: 260px;
  height: 50px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-item a {
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.pagination-item a:hover {
  background-color: var(--basic-dark-grey);
}

.pagination-item a:active {
  background-color: var(--basic-extra-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.next-page a {
  width: 260px;
  height: 50px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
  text-transform: uppercase;
}

.next-page a:hover {
  background-color: var(--basic-dark-grey);
}

.next-page a:active {
  background-color: var(--basic-extra-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current {
  text-align: center;
  width: 50px;
  height: 50px;
  background: var(--basic-white);
  border: 3px solid var(--basic-grey);
  border-radius: 3px;
}

/*Main navigation*/
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  align-items: center;
  text-transform: uppercase;
}

/*Site navigation*/

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* User navigation */
.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}


.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
  background-color: var(--basic-grey);
}

.site-navigation a:focus,
.user-navigation a:focus {
  background-color: var(--basic-grey);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
  background-color: var(--basic-grey);
}

/*services*/

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}



.services .button {
  width: 160px;
  height: 50px;
}

.button-red {
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
}

.button-red:hover {
  background-color: var(--basic-dark-red);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-red:active {
  opacity: 0.3;
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-red:focus {
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
  outline-color: var(--basic-red);
}

.button-green {
  background-color: var(--basic-green);
  border-radius: 3px;
  border-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-dark-green);
  border-radius: 3px;
  border-color: var(--basic-dark-green);
}

.button-green:active {
  opacity: 0.3;
  background-color: var(--basic-extra-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-extra-green);
}

.button-green:focus {
  background-color: var(--basic-green);
  border-radius: 3px;
  border-color: var(--basic-green);
  outline-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
  border-radius: 3px;
  border-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-dark-yellow);
  border-radius: 3px;
  border-color: var(--basic-dark-yellow);
}

.button-yellow:active {
  opacity: 0.3;
  background-color: var(--basic-extra-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-extra-yellow);
}

.button-yellow:focus {
  background-color: var(--basic-yellow);
  border-radius: 3px;
  border-color: var(--basic-yellow);
  outline-color: var(--basic-yellow);
}

/*Skills */


.skills-item {
  text-align: left;
}

.skills-item h3 {
  font-size: 55px;
  line-height: 55px;
}

.button-learn-more {
  width: 240px;
  height: 50px;
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
}

.button-learn-more:hover {
  background-color: var(--basic-dark-red);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-learn-more:active {
  opacity: 0.3;
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  border-color: var(--basic-dark-red);
}

.button-learn-more:focus {
  background-color: var(--basic-red);
  border-radius: 3px;
  border-color: var(--basic-red);
  outline-color: var(--basic-red);
}

/*About company*/

.about-company h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-company p {
  line-height: 24px;
}

.about-company h3 {
  font-weight: bold;
  text-transform: uppercase;
}

/*features*/

.features h3 {
  text-transform: uppercase;
}

.features-numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.features-words {
  line-height: 18px;
}

/*Sponsors*/


.sponsors-list a:link {
  opacity: 0.2;
}

.sponsors-list a:hover {
  opacity: 1;
}

.sponsors-list a:active {
  opacity: 0.1;
}

/*contacts*/


.contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p,
.contacts a {
  line-height: 18px;
  color: var(--basic-neutral-grey);
}

.contacts a.button {
  display: inline-block;
  width: 219px;
  height: 50px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
}

.contacts-item {
  border-width: 319px;
  height: 308px;
  background-color: var(--basic-white);
}

/*Footer*/

.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
}

.footer-social p {
  line-height: 22px;
  align-items: center;
}

.social-item {
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

/*catalog*/
